@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #00426b;
  --action: #0775ab;
  --secondary-bg: #eaeff2;
  --consorci-dark-blue: #00426b;
  --consorci-light-blue: #4197cb;
  --consorci-light-gray: #cfd2d3;
  --consorci-pink-red: #f26178;
  --consorci-beige: #e0c5ac;
  --card-bg: #f2f2f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #cfd2d3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--consorci-dark-blue);
}

.btn-primary {
  @apply bg-[#0775AB] hover:bg-[#00426B] text-white font-bold py-2 px-4 transition-colors;
}

.btn-secondary {
  @apply bg-[#EAEFF2] hover:bg-[#CFD2D3] text-[#00426B] font-bold py-2 px-4 transition-colors;
}
